<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#" >Leccion#1</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item"><a class="nav-link text-white" href="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/tabla">formulario y tablas</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/datos">Datos Personales</a></li>
        
          </ul>
    </div>
  </div>
</nav>

  <div class="contenedor___cabecera">   
    <img src="../assets/imagenes/fotoPerfil.png" class="imagencabecera">
    <h1>Datos Personales</h1>
    
</div>

<article class="contenedor___principal">      
  <h1>Información general</h1>
  <p><Strong>Nombres:</Strong>Giovanni Ernesto</p>
  <p><Strong>Apellidos:</Strong>Bauz García</p>
  <p><Strong>Correo:</Strong>gbauz3t@gmail.com</p>

  </article> 