<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#" >Leccion#1</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          
          <li class="nav-item"><a class="nav-link text-white" href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="/tabla">formulario y tablas</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="/datos">Datos Personales</a></li>
          
            </ul>
      </div>
    </div>
  </nav>
  <div class="contenedor___cabecera">   
   
    <h1>Home Bienvenido</h1>
    
</div>

<article class="contenedor___principal">      
  <h1>Información general</h1>
  <p>¡Únete a nuestra misión de ayudar a aquellos que más lo necesitan!

    nos enorgullece ser una organización sin fines de lucro dedicada a brindar apoyo y recursos a comunidades vulnerables en todo el mundo. Creemos que cada persona merece una vida digna y estamos comprometidos a marcar una diferencia positiva en la vida de aquellos que enfrentan desafíos.
    
    Nuestra labor se centra en tres pilares fundamentales: educación, salud y desarrollo comunitario. A través de programas y proyectos innovadores, trabajamos en colaboración con organizaciones locales y líderes comunitarios para proporcionar soluciones sostenibles a largo plazo.</p>
    <div class="contenedor">
        <img src="../assets/imagenes/donacion.jpg">

    </div>

  </article> 